# Pylint configuration file
# Author: Andrew Jarombek
# Date: 1/14/2023

[MAIN]

fail-under=10
py-version=3.8

[MESSAGES CONTROL]

disable=
    cyclic-import,
    duplicate-code,
    invalid-name,
    logging-fstring-interpolation,
    missing-class-docstring,
    pointless-string-statement,
    too-few-public-methods,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-public-methods,
    too-many-return-statements,
    too-many-statements,
    trailing-whitespace

[REPORTS]

output-format=text

[BASIC]

good-names=i,j,k

[EXCEPTIONS]

max-line-length=200