# Dependencies and environment for the saints-xctf-api application.
# Similar to package.json for npm & Node.js.
# Author: Andrew Jarombek
# Date: 6/14/2019

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = ">=1.0.3"
boto3 = ">=1.9.169"
flask-sqlalchemy = ">=2.4.0"
flask-bcrypt = ">=0.7.1"
pymysql = "*"
coverage = "*"

[requires]
python_version = "3.7"
